.header {
  display: flex;
  align-items: center;
  background-color: #222;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  gap: 40rem;
}
